<div class="l-box">
  <div class="space"><span class="r-name"><%= @restaurant.name%></span><span class="r-city"><%= @restaurant.city%></span></div>
  <div class="space r-address"><%= @restaurant.address%></div>
  <div class="space r-tags"><%= @restaurant.categories.join(', ')%></div>

  <div class="space r-reviews">
    <div>Reviews: <span class="r-tags"><% if @restaurant.overall_rating.present?%>(rated: <%= @restaurant.overall_rating.round(1) %> )<% end %></span><div>
    <ul class='rev-list'>
      <% @restaurant.reviews.each do |review|%>
        <li>
          <%= render partial: 'review', locals: {review: review} %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render partial: 'write_review'%>
</div>